ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/*  Tarefa 1: Defina o CSS par atodos as tags parágrafo para "color: red" */
p {
  color: red;
}

/* Tarefa 2: Defina o CSS para todos os elementos com a classe "note" para "font-size: 20px" */
.note {
  font-size: 20px;
}

.note2 {
  font-size: 30px;
}

.note2 p {
  color: blue;
}

/* Tarefa 3: Defina o CSS para o elemento com o atributo "id" com o valor "id-selector-demo" para "color: green" */
#id-selector-demo {
  color: yellow;
}

/* Tarefa 4: Defina o CSS para os elementos li que tem o atributo "value" com o valor "4" para ter "color: blue" */
li[value="4"] {
  color: blue;
}

/* Tarefa 5: Defina para todos os elementos ter "text-align: center" */
* {
  text-align: center;
}

